<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">TacticalForum</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Hot</a></li>
            <li><a href="/chatroom">Chatroom</a></li>
            <li><a href="#" id='btc'></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="{{classs}}"><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class='{{ icon }}'></span> {{ user|safe }} </a></li>
            {% block logout %}
            <li id='logout'><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endblock %}
          </ul>
        </div>
      </nav>

    <div class="container">
    
        <div class="row">
            <div class="col-sm-4 col-sm-offset-3" style="position: absolute; right:0px; top: 100px">
                
                    <div class="alert alert-danger alert-text alert-dismissible hide" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong class="alert-text">
                            Wrong password!</strong>
                        <p class="alert-text">Please check your password and try again.</p>
                    </div>
                
            </div>
        </div>
    
    </div>

    <div class="container">
    
        <div class="row">
            <div class="col-sm-4 col-sm-offset-3" style="position: absolute; right:0px; top: 100px">
                
                    <div class="alert alert-info alert-text alert-dismissible hide" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong class="alert-text">
                            You are not yet registered!</strong>
                        <p class="alert-text">Please register and try again.</p>
                    </div>
                
            </div>
        </div>
    
    </div>


    <div class="container">
        <div class='row'>
           <div class="col-10">
              {% block upper %}
                {% if user == 'Login' %}
                  <script>
                    document.getElementById("logout").style.display = "none";
                  </script>
                {% endif %}
              {% endblock %}
            </div>
        </div>
            
        {% block content %}{% endblock %}

              
        
        </div>
      </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>

    {% block scripts %}{% endblock%}

    <script type=text/javascript>
        set_active();

        function get_btc(which) {
            $.getJSON('/btc_price/'+which,
                function(data) {
                  document.getElementById('btc').text = data[0]+'('+data[1]+')';
            });
            return true;
          };

        //setInterval(function() { get_btc('XBT'); }, 200);

    </script>


  </body>
</html>