{% extends "base.html" %}
{% block title %}Home page - {{ username }} {% endblock %}
{% block upper %}
    <h1>Welcome to {{content}}</h1>
    {% if user == 'Login' %}
    	<script>
			document.getElementById("logout").style.display = "none";
		</script>

	{% else %}

		<form action="#" method="post">
			<p>Content:</p>
			<p><textarea rows="6" cols="80" id='post_form' type="text" name="ct"/></textarea></p>
			<p><input type="submit" value="post"/></p>
		</form>

	{% endif %}

{% endblock %}

{% block content%}

   	{% for i in posts[::-1] %}
   		<div class="row">

	   		<div class="col-7 post">
		    	<p>{{i[0]}}:</p>
		    	<i class='post'>{{i[2]}}</i>
		    	<p style="float:right">{{i[1][:-7]}}</p>
		    	<p></p>
		    	<i id={{i[-1]}}>{{i[-2]}} likes</i>
		    	<div>
		    		<button id='{{i[-1]}}'>Like</button>
				</div>
		    	<hr>
		    </div>
		</div>
				
    {% endfor %}
	
{% endblock %}	


{% block scripts%}
<script type="text/javascript">
$("button").click(function() {
	var idcko = this.id;
	this.style.color = 'blue';
	$.get(/add_like/+this.id, function(data) {
		let c = document.getElementById(idcko)
		c.innerHTML = data+' likes';
	}) 
});
</script>
{% endblock %}




