{% extends "base.html" %}
{% block title %}Home page - {{ username }} {% endblock %}
{% block content %}
    <h1>Welcome to {{content}}</h1>
    {% if user == 'Login' %}
    	<script>
			document.getElementById("logout").style.display = "none";
		</script>

	{% else %}

		<form action="#" method="post">
			<p>Content:</p>
			<p><input type="text" name="ct" /></p>
			<p><input type="submit" value="post"/></p>
		</form>
	{% endif %}

   	{% for i in posts %}

    	<p>{{i[0]}}:</p>
    	<i class='post'>{{i[2]}}</i>
    	<p style="float:right">{{i[1][:-7]}}</p>
    	<hr>
			
    {% endfor %}
	
{% endblock %}	

