{% extends "base.html" %}
{% block title %}Home page - {{ username }} {% endblock %}
{% block upper %}
    <h1>Welcome to {{content}}</h1>
    {% if user == 'Login' %}
    	<script>
			document.getElementById("logout").style.display = "none";
		</script>

	{% else %}

		<form action="#" method="post">
			<p>Content:</p>
			<p><textarea rows="6" cols="80" id='post_form' type="text" name="ct"/></textarea></p>
			<p><input type="submit" value="post"/></p>
		</form>

	{% endif %}

{% endblock %}

{% block content%}

   	{% for i in posts[::-1] %}
   		<div class="row">

	   		<div class="col-7 post">
		    	<p>{{i[1]}}:</p>
		    	<i class='post'>{{i[3]}}</i>
		    	<p style="float:right">{{i[2][:-7]}}</p>
		    	<p></p>
		    	<i id={{i[0]}}>{{i[-2]}} likes</i>
		    	<div>
		    		{% if username in posts[0][-1]['usernames'] %}
		    			<button style='color:blue' id={{i[0]}}>Like</button>
		    		{% else %}
		    			<button id={{i[0]}}>Like</button>
		    		{% endif %}
				</div>
		    	<hr>
		    </div>
		</div>
				
    {% endfor %}
	
{% endblock %}	


{% block scripts%}
<script type="text/javascript">
$("button").click(function() {
	let idcko = this.id;
	let btn = this
	$.get(/add_like/+this.id+'/'+'{{ username }}', function(data) {
		let lajky = document.getElementById(idcko);
		data = data.split(' ')
		lajky.innerHTML = data[0]+' likes';
		let unlike = data[1];
		if (unlike === 'true') {
			btn.style.color = 'black';
		} else {
			btn.style.color = 'blue';
		};
	}); 
});

</script>
{% endblock %}




