{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block upper %}
{% block logout %}{% endblock %}

<form action="#" method="post">
	<p>Name:</p>
	<p><input type="text" name="nm" /></p>
	<p>Password:</p>
	<p><input type="password" name="pw" /></p>
	<p><input type="submit" value="submit"/></p>
</form>

{% endblock %}
{% block scripts%}

<script>

var m = document.getElementsByClassName("alert-danger");


      
  if ({{wp}} === true) {
    for (var i=0; i<m.length; i++) {
        m[i].classList.remove('hide');
  }
}

var m = document.getElementsByClassName("alert-info");

  if ({{rg}} === true) {
    for (var i=0; i<m.length; i++) {
        m[i].classList.remove('hide');
  }
}

</script>

{% endblock %}